@using DataLayer.Watches
@using DataLayer.Leilao
@using DataLayer.Licitacao
@inject NavigationManager NavigationManager
@inject ILicitacaoRepository LicitacaoRepo

<div class="comp">
    <p class="card-text">@licitacao.username - @licitacao.valor€ - @licitacao.Data</p>
</div>

@code {
    [Parameter, EditorRequired]
    public LicitacaoModel licitacao { get; set; } = default!;
}
