@page "/"
@layout SpecialLayout
@using BlazorServerAutheticationAndAuthorization.Authetication
@using DataLayer.Notificacao
@using DataLayer.Leilao
@using DataLayer.Licitacao
@using System.Globalization;
@inject AuthenticationStateProvider authStateProvider
@inject INotificacaoRepository NotificacaoRepo
@inject ILeilaoRepository LeilaoRepo
@inject ILicitacaoRepository LicitacaoRepo
@inject NavigationManager NavigationManager

<PageTitle>Inicio</PageTitle>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="title text-center">
                <h2>Bem-vindo</h2>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary custom-button" @onclick="NavigateToRegister">
                    <strong>Registar</strong>
                </button>
            </div>

            <div class="form-group text-center">
                <button class="btn btn-success custom-button" @onclick="NavigateToLogin">
                    <strong>Entrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>


@code {
    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/registar");
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/entrar");
    }
}