.card {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.card-body img {
    max-width: 300px;
    height: auto;
    border-radius: 3%;
}

.card-body dl {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.card-body dt {
    font-weight: bold;
    width: 200px; /* Adjusted width */
    margin: 10px 0;
    border-radius: 10px;
}

.card-body dd {
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(100% - 200px); /* Adjusted width */
    border-radius: 10px;
    background-color: lightgray;
}

.text-right {
    text-align: right;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -50px;
    padding: 40px;
    padding-left: 120px;
}
